body {
	margin: 0 auto;
}

.SearchBar {
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
    &__search {
        margin-top: 160px;
        width: 100vw;
        border: none;
        height: 40px;
        font-size: 20px;
        &:focus {
            outline: none;
        }
    }
    &__closeSearch {
        position: absolute;
        margin-top: 160px;
        border: none;
        height: 40px;
        right: 0;
        background: none;
        &:hover {
            cursor: pointer;
        }
    }
}
